name: Frontend CI/CD

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'frontend/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'
        
    - name: Install Dependencies
      working-directory: ./frontend
      run: npm install
      
    - name: Build
      working-directory: ./frontend
      run: npm run build
      
    - name: Deploy to Somee
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: feclaire.somee.com
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./frontend/dist/
        server-dir: /www.feclaire.somee.com/